convert/src/__test__/resources/output/closures-asl.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "Assign Numbers"
    },
    "Assign Numbers": {
      "Type": "Pass",
      "ResultPath": "$.vars.numbers",
      "Result": [
        0,
        1,
        2,
        3
      ],
      "Comment": "source: numbers = [0, 1, 2, 3]",
      "Next": "Assign Letters"
    },
    "Assign Letters": {
      "Type": "Pass",
      "ResultPath": "$.vars.letters",
      "Result": [
        "a",
        "b",
        "c",
        "d"
      ],
      "Comment": "source: letters = [\"a\", \"b\", \"c\", \"d\"]",
      "Next": "Assign Global"
    },
    "Assign Global": {
      "Type": "Pass",
      "ResultPath": "$.vars.global",
      "Result": "prefix",
      "Comment": "source: global = \"prefix\"",
      "Next": "Map_1"
    },
    "Map_1": {
      "Type": "Map",
      "ResultPath": "$.lastResult",
      "Iterator": {
        "StartAt": "Map",
        "States": {
          "Map": {
            "Type": "Map",
            "ResultPath": "$.lastResult",
            "Iterator": {
              "StartAt": "Assign Combined",
              "States": {
                "Assign Combined": {
                  "Type": "Pass",
                  "ResultPath": "$.vars.combined",
                  "Parameters": {
                    "number.$": "$.vars.number",
                    "letter.$": "$.vars.letter",
                    "global.$": "$.vars.global"
                  },
                  "Comment": "source: combined = { number, letter, global }",
                  "Next": "Task"
                },
                "Task": {
                  "Type": "Task",
                  "Resource": "typescript:doSomething",
                  "InputPath": "$.vars.combined",
                  "Comment": "source: doSomething(combined)",
                  "End": true
                }
              }
            },
            "ItemsPath": "$.vars.letters",
            "Parameters": {
              "vars": {
                "letter.$": "$$.Map.Item.Value",
                "number.$": "$.vars.number",
                "global.$": "$.vars.global",
                "letters.$": "$.vars.letters"
              }
            },
            "End": true
          }
        }
      },
      "ItemsPath": "$.vars.numbers",
      "Parameters": {
        "vars": {
          "number.$": "$$.Map.Item.Value",
          "global.$": "$.vars.global",
          "letters.$": "$.vars.letters",
          "numbers.$": "$.vars.numbers"
        }
      },
      "End": true
    }
  }
}