convert/src/__test__/resources/output/example-asl.json
{
  "StartAt": "Initialize Vars",
  "States": {
    "Initialize Vars": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "Assign thresholds"
    },
    "Assign thresholds": {
      "Type": "Pass",
      "ResultPath": "$.vars.thresholds",
      "Result": [
        {
          "metric": "mappings.requests",
          "ceiling": 100
        },
        {
          "metric": "mappings.requests",
          "ceiling": 1000
        }
      ],
      "Comment": "thresholds = [\n    {\n      \"metric\": \"mappings.requests\",\n      \"ceiling\": 100\n    },\n    {\n      \"metric\": \"mappings.requests\",\n      \"ceiling\": 1000\n    }\n  ]",
      "Next": "Assign lastEvaluatedKey"
    },
    "Assign lastEvaluatedKey": {
      "Type": "Pass",
      "ResultPath": "$.vars.lastEvaluatedKey",
      "Result": null,
      "Comment": "lastEvaluatedKey: any | undefined = undefined",
      "Next": "DoWhile"
    },
    "DoWhile": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Assign scan",
          "States": {
            "Assign scan": {
              "Type": "Task",
              "ResultPath": "$.vars.scan",
              "Resource": "arn:aws:states:::aws-sdk:dynamodb:scan",
              "Parameters": {
                "TableName": "MyStorage",
                "Limit": 1,
                "ExclusiveStartKey.$": "$.vars.lastEvaluatedKey"
              },
              "Next": "Map_1"
            },
            "Map_1": {
              "Type": "Map",
              "ResultPath": "$.lastResult",
              "Iterator": {
                "StartAt": "Map",
                "States": {
                  "Map": {
                    "Type": "Map",
                    "ResultPath": "$.lastResult",
                    "Iterator": {
                      "StartAt": "Assign numericLastSentOnValue",
                      "States": {
                        "Assign numericLastSentOnValue": {
                          "Type": "Pass",
                          "ResultPath": "$.vars.numericLastSentOnValue",
                          "Parameters": "States.StringToJson($.vars.item.lastSentOnValue.N)",
                          "Comment": "numericLastSentOnValue = asl.states.stringToJson(item.lastSentOnValue.N) as number",
                          "Next": "Assign numericTotal"
                        },
                        "Assign numericTotal": {
                          "Type": "Pass",
                          "ResultPath": "$.vars.numericTotal",
                          "Parameters": "States.StringToJson($.vars.item.total.N)",
                          "Comment": "numericTotal = asl.states.stringToJson(item.total.N) as number",
                          "Next": "If"
                        },
                        "If": {
                          "Type": "Choice",
                          "Choices": [
                            {
                              "Or": [
                                {
                                  "And": [
                                    {
                                      "And": [
                                        {
                                          "And": [
                                            {
                                              "Variable": "$.vars.item.sk.S",
                                              "StringEqualsPath": "$.vars.threshold.metric"
                                            },
                                            {
                                              "Variable": "$.vars.threshold.ceiling",
                                              "NumericLessThanEqualsPath": "$.vars.numericTotal"
                                            }
                                          ]
                                        },
                                        {
                                          "Variable": "$.vars.threshold.ceiling",
                                          "NumericGreaterThanPath": "$.vars.numericLastSentOnValue"
                                        }
                                      ]
                                    },
                                    {
                                      "Or": [
                                        {
                                          "Variable": "$.vars.item.lastBeginDateValue.S",
                                          "IsPresent": false
                                        },
                                        {
                                          "Variable": "$.vars.item.beginDate.S",
                                          "StringEqualsPath": "$.vars.item.lastBeginDateValue.S"
                                        }
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "And": [
                                    {
                                      "And": [
                                        {
                                          "Variable": "$.vars.item.sk.S",
                                          "StringEqualsPath": "$.vars.threshold.metric"
                                        },
                                        {
                                          "Variable": "$.vars.threshold.ceiling",
                                          "NumericLessThanEqualsPath": "$.vars.numericTotal"
                                        }
                                      ]
                                    },
                                    {
                                      "Or": [
                                        {
                                          "Variable": "$.vars.item.lastBeginDateValue.S",
                                          "IsPresent": false
                                        },
                                        {
                                          "Variable": "$.vars.item.beginDate.S",
                                          "StringEqualsPath": "$.vars.item.lastBeginDateValue.S"
                                        }
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "Next": "Task"
                            }
                          ],
                          "Comment": "if ((item.sk.S === threshold.metric && threshold.ceiling <= numericTotal && threshold.ceiling > numericLastSentOnValue && (!item.lastBeginDateValue.S || item.beginDate.S === item.lastBeginDateValue.S))\n          || (item.sk.S === threshold.metric && threshold.ceiling <= numericTotal && (!item.lastBeginDateValue.S || item.beginDate.S === item.lastBeginDateValue.S))) {\n\n          await asl.nativeEventBridgePutEvents({\n            Entries: [\n              {\n                Detail: asl.states.jsonToString({\n                  account_id: item.pk,\n                  threshold: threshold\n                }),\n                DetailType: \"xxx.detail.type\",\n                EventBusName: \"default\",\n                Source: \"zzz.my.source\"\n              }\n            ]\n          });\n          await asl.nativeDynamoDBUpdateItem({\n            TableName: \"MyStorage\",\n            Key: {\n              pk: item.pk,\n              sk: item.sk\n            },\n            ConditionExpression: \"lastSentOnValue < :newLastSentOnValue OR lastBeginDateValue <> :newLastBeginDateValue\",\n            UpdateExpression: \"SET lastSentOnValue = :newLastSentOnValue, lastBeginDateValue = :newLastBeginDateValue\",\n            ExpressionAttributeValues: {\n              \":newLastSentOnValue\": {\n                N: item.total.N as any\n              },\n              \":newLastBeginDateValue\": {\n                S: item.beginDate.S\n              }\n            }\n          });\n        }",
                          "Default": "Empty Default Choice"
                        },
                        "Task": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::aws-sdk:eventbridge:putEvents",
                          "Parameters": {
                            "Entries": [
                              {
                                "Detail": "States.JsonToString({\n  \"account_id.$\": \"$.vars.item.pk\",\n  \"threshold.$\": \"$.vars.threshold\"\n})",
                                "DetailType": "xxx.detail.type",
                                "EventBusName": "default",
                                "Source": "zzz.my.source"
                              }
                            ]
                          },
                          "Next": "Task_1"
                        },
                        "Task_1": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
                          "Parameters": {
                            "TableName": "MyStorage",
                            "Key": {
                              "pk.$": "$.vars.item.pk",
                              "sk.$": "$.vars.item.sk"
                            },
                            "ConditionExpression": "lastSentOnValue < :newLastSentOnValue OR lastBeginDateValue <> :newLastBeginDateValue",
                            "UpdateExpression": "SET lastSentOnValue = :newLastSentOnValue, lastBeginDateValue = :newLastBeginDateValue",
                            "ExpressionAttributeValues": {
                              ":newLastSentOnValue": {
                                "N.$": "$.vars.item.total.N"
                              },
                              ":newLastBeginDateValue": {
                                "S.$": "$.vars.item.beginDate.S"
                              }
                            }
                          },
                          "End": true
                        },
                        "Empty Default Choice": {
                          "Type": "Pass",
                          "End": true
                        }
                      }
                    },
                    "ItemsPath": "$.vars.thresholds",
                    "Parameters": {
                      "vars": {
                        "threshold.$": "$$.Map.Item.Value",
                        "item.$": "$.vars.item",
                        "thresholds.$": "$.vars.thresholds"
                      }
                    },
                    "End": true
                  }
                }
              },
              "ItemsPath": "$.vars.scan.Items",
              "Parameters": {
                "vars": {
                  "item.$": "$$.Map.Item.Value",
                  "thresholds.$": "$.vars.thresholds",
                  "scan.$": "$.vars.scan"
                }
              },
              "Next": "Assign lastEvaluatedKey_1"
            },
            "Assign lastEvaluatedKey_1": {
              "Type": "Pass",
              "ResultPath": "$.vars.lastEvaluatedKey",
              "InputPath": "$.vars.scan.LastEvaluatedKey",
              "Next": "_WhileCondition"
            },
            "_WhileCondition": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.vars.lastEvaluatedKey",
                  "IsPresent": true,
                  "Next": "Assign scan"
                }
              ],
              "Default": "_WhileExit"
            },
            "_WhileExit": {
              "Type": "Succeed"
            }
          },
          "Parameters": {
            "vars": {
              "thresholds.$": "$.vars.thresholds",
              "lastEvaluatedKey.$": "$.vars.lastEvaluatedKey"
            }
          }
        }
      ],
      "End": true
    }
  }
}