convert/src/__test__/resources/output/hello-world-asl.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "If (typeof input.name !== ..."
    },
    "If (typeof input.name !== ...": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "And": [
              {
                "Variable": "$.vars.name",
                "IsPresent": true
              },
              {
                "Variable": "$.vars.name",
                "IsString": true
              }
            ]
          },
          "Next": "Assign Name"
        }
      ],
      "Comment": "source: if (typeof input.name !== \"string\") { input.na ...",
      "Default": "Assign Rnd"
    },
    "Assign Name": {
      "Type": "Pass",
      "ResultPath": "$.vars.name",
      "Result": "World",
      "Next": "Assign Rnd"
    },
    "Assign Rnd": {
      "Type": "Task",
      "ResultPath": "$.vars.rnd",
      "Resource": "typescript:random",
      "Comment": "source: random()",
      "Next": "Pass"
    },
    "Pass": {
      "Type": "Pass",
      "Parameters": {
        "greeting.$": "States.Format('Hello {}', $.vars.name)",
        "luckyNumber.$": "$.vars.rnd"
      },
      "Next": "Succeed"
    },
    "Succeed": {
      "Type": "Succeed"
    }
  }
}