convert/src/__test__/resources/output/input-validation-asl.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "If"
    },
    "If": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.vars.testInput.delayInSeconds",
          "IsNumeric": false,
          "Next": "Assign DelayInSeconds"
        }
      ],
      "Comment": "source: if (typeof context.testInput.delayInSeconds != ...",
      "Default": "Wait"
    },
    "Assign DelayInSeconds": {
      "Type": "Pass",
      "ResultPath": "$.vars.testInput.delayInSeconds",
      "Result": 5,
      "Next": "Wait"
    },
    "Wait": {
      "Type": "Wait",
      "SecondsPath": "$.vars.testInput.delayInSeconds",
      "End": true
    }
  }
}