convert/src/__test__/resources/output/input-validation-asl.json
{
  "StartAt": "Initialize Vars",
  "States": {
    "Initialize Vars": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "If"
    },
    "If": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.vars.testInput.delayInSeconds",
          "IsNumeric": false,
          "Next": "Assign testInput.delayInSeconds"
        }
      ],
      "Comment": "if (typeof context.testInput.delayInSeconds !== \"number\") {\n    context.testInput.delayInSeconds = 5;\n  }",
      "Default": "Wait"
    },
    "Assign testInput.delayInSeconds": {
      "Type": "Pass",
      "ResultPath": "$.vars.testInput.delayInSeconds",
      "Result": 5,
      "Next": "Wait"
    },
    "Wait": {
      "Type": "Wait",
      "SecondsPath": "$.vars.testInput.delayInSeconds",
      "End": true
    }
  }
}