convert/src/__test__/resources/output/kyc-asl.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "Assign Result"
    },
    "Assign Result": {
      "Branches": [
        {
          "StartAt": "Task",
          "States": {
            "Task": {
              "Type": "Task",
              "Resource": "typescript:performIdentifyCheck",
              "Comment": "source: performIdentifyCheck()",
              "End": true
            }
          }
        },
        {
          "StartAt": "Pass",
          "States": {
            "Pass": {
              "Type": "Pass",
              "Result": {
                "agencyChecked": true
              },
              "Next": "Succeed"
            },
            "Succeed": {
              "Type": "Succeed"
            }
          }
        }
      ],
      "ResultPath": "$.vars.result",
      "Type": "Parallel",
      "Catch": [],
      "Retry": [],
      "Next": "Task_1"
    },
    "Task_1": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:eventbridge:putEvents",
      "Parameters": {
        "Entries": [
          {
            "Detail.$": "States.JsonToString($.vars.result)",
            "DetailType": "Identity check completed",
            "EventBusName": "eventbusname",
            "Source": "com.aws.kyc"
          }
        ]
      },
      "Next": "Assign ChecksPassed"
    },
    "Assign ChecksPassed": {
      "Type": "Pass",
      "ResultPath": "$.vars.checksPassed",
      "Result": true,
      "Comment": "source: checksPassed = true",
      "Next": "If"
    },
    "If": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.vars.checksPassed",
          "IsPresent": true,
          "Next": "Task_2"
        }
      ],
      "Comment": "source: if (checksPassed) { //no-op update risk profil ...",
      "Default": "Task_2"
    },
    "Task_2": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:eventbridge:putEvents",
      "Parameters": {
        "Entries": [
          {
            "Detail.$": "States.JsonToString($.vars.result)",
            "DetailType": "AccountApproved",
            "EventBusName": "eventbusname",
            "Source": "com.aws.kyc"
          }
        ]
      },
      "End": true
    }
  }
}