convert/src/__test__/resources/output/kyc-asl.json
{
  "StartAt": "Initialize Vars",
  "States": {
    "Initialize Vars": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "Assign result"
    },
    "Assign result": {
      "Branches": [
        {
          "StartAt": "Task",
          "States": {
            "Task": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:123123123123:function:my-program-performIdentifyCheck",
              "Comment": "performIdentifyCheck()",
              "End": true
            }
          }
        },
        {
          "StartAt": "Pass",
          "States": {
            "Pass": {
              "Type": "Pass",
              "Result": {
                "agencyChecked": true
              },
              "Next": "Succeed"
            },
            "Succeed": {
              "Type": "Succeed"
            }
          }
        }
      ],
      "ResultPath": "$.vars.result",
      "Type": "Parallel",
      "Catch": [],
      "Retry": [],
      "Next": "Task_1"
    },
    "Task_1": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:eventbridge:putEvents",
      "Parameters": {
        "Entries": [
          {
            "Detail": "States.JsonToString($.vars.result)",
            "DetailType": "Identity check completed",
            "EventBusName": "eventbusname",
            "Source": "com.aws.kyc"
          }
        ]
      },
      "Next": "Assign checksPassed"
    },
    "Assign checksPassed": {
      "Type": "Pass",
      "ResultPath": "$.vars.checksPassed",
      "Result": true,
      "Comment": "checksPassed = true",
      "Next": "If"
    },
    "If": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.vars.checksPassed",
          "IsPresent": true,
          "Next": "Task_2"
        }
      ],
      "Comment": "if (checksPassed) {\n    //no-op update risk profile\n    await asl.nativeEventBridgePutEvents({\n      Entries: [\n        {\n          Detail: asl.states.jsonToString(result),\n          DetailType: \"AccountApproved\",\n          EventBusName: \"eventbusname\",\n          Source: \"com.aws.kyc\"\n        }\n      ]\n    });\n  } else {\n    await asl.nativeEventBridgePutEvents({\n      Entries: [\n        {\n          Detail: asl.states.jsonToString(result),\n          DetailType: \"AccountDeclined\",\n          EventBusName: \"eventbusname\",\n          Source: \"com.aws.kyc\"\n        }\n      ]\n    });\n  }",
      "Default": "Task_2"
    },
    "Task_2": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:eventbridge:putEvents",
      "Parameters": {
        "Entries": [
          {
            "Detail": "States.JsonToString($.vars.result)",
            "DetailType": "AccountApproved",
            "EventBusName": "eventbusname",
            "Source": "com.aws.kyc"
          }
        ]
      },
      "End": true
    }
  }
}