convert/src/__test__/resources/output/while-asl.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "Task"
    },
    "Task": {
      "Type": "Task",
      "ResultPath": "$.vars.result",
      "Resource": "check-password",
      "Parameters": {},
      "Catch": [],
      "Retry": [],
      "Next": "8: While (true)"
    },
    "8: While (true)": {
      "Type": "Parallel",
      "Parameters": {
        "vars": {
          "result.$": "$.vars.result"
        }
      },
      "Branches": [
        {
          "StartAt": "_WhileCondition",
          "States": {
            "_WhileCondition": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$",
                  "IsNull": false,
                  "Next": "9: If (result.Authorized)"
                }
              ],
              "Default": "_WhileExit"
            },
            "9: If (result.Authorized)": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.vars.result.Authorized",
                  "IsPresent": true,
                  "Next": "10: Break"
                }
              ],
              "Comment": "source: if (result.Authorized) { break; }",
              "Default": "Wait"
            },
            "10: Break": {
              "Type": "Succeed"
            },
            "Wait": {
              "Type": "Wait",
              "Seconds": 1,
              "Next": "Task_1"
            },
            "Task_1": {
              "Type": "Task",
              "ResultPath": "$.vars.result",
              "Resource": "check-password",
              "Parameters": {},
              "Catch": [],
              "Retry": [],
              "Next": "_WhileExit"
            },
            "_WhileExit": {
              "Type": "Succeed"
            }
          }
        }
      ],
      "End": true
    }
  }
}