convert/src/__test__/resources/output/asl/choice-choice.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "Assign val"
    },
    "Assign val": {
      "Type": "Pass",
      "ResultPath": "$.vars.val",
      "Result": "",
      "Comment": "source: val = \"\"",
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.vars.val",
          "IsPresent": false,
          "Next": "Then"
        },
        {
          "Variable": "$.vars.val",
          "IsPresent": false,
          "Next": "Then_1"
        }
      ],
      "Default": "Pass_4"
    },
    "Then": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Pass",
          "States": {
            "Pass": {
              "Type": "Pass",
              "Result": "val is not an empty string",
              "Comment": "source: console.log(\"val is not an empty string\")",
              "Next": "Pass_1"
            },
            "Pass_1": {
              "Type": "Pass",
              "Result": "val us also not false or 0",
              "Comment": "source: console.log(\"val us also not false or 0\")",
              "End": true
            }
          }
        }
      ],
      "Next": "Pass_5"
    },
    "Then_1": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Pass_2",
          "States": {
            "Pass_2": {
              "Type": "Pass",
              "Result": "val is empty string",
              "Comment": "source: console.log(\"val is empty string\")",
              "Next": "Pass_3"
            },
            "Pass_3": {
              "Type": "Pass",
              "Result": "or false or 0",
              "Comment": "source: console.log(\"or false or 0\")",
              "End": true
            }
          }
        }
      ],
      "Next": "Pass_5"
    },
    "Pass_4": {
      "Type": "Pass",
      "Result": "this will not likely happen",
      "Comment": "source: source: console.log(\"this will not likely happen\")",
      "Next": "Pass_5"
    },
    "Pass_5": {
      "Type": "Pass",
      "Result": "after choice",
      "Comment": "source: console.log(\"after choice\")",
      "End": true
    }
  }
}