convert/src/__test__/resources/output/asl/string-templates-stringTemplates.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "Assign variable"
    },
    "Assign variable": {
      "Type": "Pass",
      "ResultPath": "$.vars.variable",
      "Result": "some var",
      "Comment": "source: variable = \"some var\"",
      "Next": "Pass"
    },
    "Pass": {
      "Type": "Pass",
      "Parameters": {
        "b.$": "States.Format('hello {}', $.vars.variable)"
      },
      "Comment": "source: console.log({ b: `hello ${variable}`, })",
      "End": true
    }
  }
}