convert/src/__test__/output/asl/arrays-mapArray.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "Assign myArray"
    },
    "Assign myArray": {
      "Type": "Pass",
      "ResultPath": "$.vars.myArray",
      "Result": [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10
      ],
      "Comment": "source: myArray = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]",
      "Next": "Assign Result"
    },
    "Assign Result": {
      "Type": "Map",
      "ResultPath": "$.tmp.result",
      "Iterator": {
        "StartAt": "If (x === 1 || x === 3 || ...",
        "States": {
          "If (x === 1 || x === 3 || ...": {
            "Type": "Choice",
            "Choices": [
              {
                "Or": [
                  {
                    "Variable": "$.vars.x",
                    "NumericEquals": 1
                  },
                  {
                    "Variable": "$.vars.x",
                    "NumericEquals": 3
                  },
                  {
                    "Variable": "$.vars.x",
                    "NumericEquals": 5
                  },
                  {
                    "Variable": "$.vars.x",
                    "NumericEquals": 7
                  },
                  {
                    "Variable": "$.vars.x",
                    "NumericEquals": 9
                  }
                ],
                "Next": "Return { age: x, ..."
              }
            ],
            "Comment": "source: if (x === 1 || x === 3 || x === 5 || x === 7 | ...",
            "Default": "Return { age: x, ..._1"
          },
          "Return { age: x, ...": {
            "End": true,
            "Type": "Pass",
            "Parameters": {
              "age.$": "$.vars.x",
              "species": "dog"
            }
          },
          "Return { age: x, ..._1": {
            "End": true,
            "Type": "Pass",
            "Parameters": {
              "age.$": "$.vars.x",
              "species": "cat"
            }
          }
        }
      },
      "ItemsPath": "$.vars.myArray",
      "Parameters": {
        "vars": {
          "x.$": "$$.Map.Item.Value"
        }
      },
      "Next": "Return result"
    },
    "Return result": {
      "End": true,
      "Type": "Pass",
      "InputPath": "$.tmp.result"
    }
  },
  "Comment": "ASL Generated using ts2asl version 0.1.29."
}