convert/src/__test__/output/asl/arrays-mapArrayNestedPropertyAccess.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "Assign source"
    },
    "Assign source": {
      "Type": "Pass",
      "ResultPath": "$.vars.source",
      "Result": [
        {
          "obj": {
            "num": 23,
            "str": "str"
          }
        }
      ],
      "Comment": "source: source = [{ obj: { num: 23, str: \"str\" } }]",
      "Next": "Assign num"
    },
    "Assign num": {
      "Type": "Pass",
      "ResultPath": "$.vars.num",
      "InputPath": "$.vars.source..obj.num",
      "Next": "Assign str"
    },
    "Assign str": {
      "Type": "Pass",
      "ResultPath": "$.vars.str",
      "InputPath": "$.vars.source..obj.str",
      "Next": "Return { num, str }"
    },
    "Return { num, str }": {
      "End": true,
      "Type": "Pass",
      "Parameters": {
        "num.$": "$.vars.num",
        "str.$": "$.vars.str"
      }
    }
  },
  "Comment": "ASL Generated using ts2asl version 0.1.30."
}