convert/src/__test__/output/asl/arrays-jsonPathExpressions.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "Assign filterArray"
    },
    "Assign filterArray": {
      "Type": "Pass",
      "ResultPath": "$.vars.filterArray",
      "Result": {
        "cats": {
          "young": [
            {
              "age": 2,
              "species": "cat"
            },
            {
              "age": 4,
              "species": "cat"
            }
          ],
          "old": [
            {
              "age": 12,
              "species": "cat"
            },
            {
              "age": 14,
              "species": "cat"
            }
          ]
        },
        "dogs": {
          "young": [
            {
              "age": 1,
              "species": "dog"
            },
            {
              "age": 3,
              "species": "dog"
            }
          ],
          "old": [
            {
              "age": 11,
              "species": "dog"
            },
            {
              "age": 13,
              "species": "dog"
            }
          ]
        }
      },
      "Comment": "source: filterArray = { cats: { young: [{ age: 2, spec ...",
      "Next": "Assign ages"
    },
    "Assign ages": {
      "Type": "Pass",
      "ResultPath": "$.vars.ages",
      "InputPath": "$.vars.filterArray..age",
      "Next": "Assign flattenedPets"
    },
    "Assign flattenedPets": {
      "Type": "Pass",
      "ResultPath": "$.vars.flattenedPets",
      "InputPath": "$.vars.filterArray[*][*][*]",
      "Next": "Assign slicedArr"
    },
    "Assign slicedArr": {
      "Type": "Pass",
      "ResultPath": "$.vars.slicedArr",
      "InputPath": "$.vars.filterArray.cats.young[1:1]",
      "Next": "Return { ages, fl ..."
    },
    "Return { ages, fl ...": {
      "End": true,
      "Type": "Pass",
      "Parameters": {
        "ages.$": "$.vars.ages",
        "flattenedPets.$": "$.vars.flattenedPets",
        "slicedArr.$": "$.vars.slicedArr"
      }
    }
  },
  "Comment": "ASL Generated using ts2asl version 0.1.30."
}