convert/src/__test__/output/asl/boolean-evalation-numericComparison.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input",
        "_undefined": null
      },
      "Next": "Assign condition"
    },
    "Assign condition": {
      "Type": "Pass",
      "Result": 42,
      "ResultPath": "$.vars.condition",
      "Comment": "source: condition = 42",
      "Next": "Assign items"
    },
    "Assign items": {
      "Type": "Pass",
      "Result": [
        2,
        42,
        3
      ],
      "ResultPath": "$.vars.items",
      "Comment": "source: items = [2, 42, 3]",
      "Next": "Assign listWithRetunrned"
    },
    "Assign listWithRetunrned": {
      "Type": "Map",
      "ResultPath": "$.vars.listWithRetunrned",
      "Iterator": {
        "StartAt": "If (item === condition)",
        "States": {
          "If (item === condition)": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.vars.item",
                "NumericEqualsPath": "$.vars.condition",
                "Next": "Return { returned: item }"
              }
            ],
            "Comment": "source: if (item === condition) { return { returned: i ...",
            "Default": "Empty Default Choice"
          },
          "Return { returned: item }": {
            "Type": "Pass",
            "Parameters": {
              "returned.$": "$.vars.item"
            },
            "End": true
          },
          "Empty Default Choice": {
            "Type": "Pass",
            "ResultPath": null,
            "End": true
          }
        }
      },
      "ItemsPath": "$.vars.items",
      "Comment": "source: items.map(item => { if (item === condition) {  ...",
      "Parameters": {
        "vars": {
          "item.$": "$$.Map.Item.Value",
          "condition.$": "$.vars.condition"
        }
      },
      "Next": "Assign item"
    },
    "Assign item": {
      "Type": "Pass",
      "InputPath": "$.vars.listWithRetunrned[?(@.returned)]",
      "ResultPath": "$.vars.item",
      "Next": "Return item"
    },
    "Return item": {
      "Type": "Pass",
      "InputPath": "$.vars.item",
      "End": true
    }
  }
}