convert/src/__test__/output/asl/choice-choice.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "Assign val"
    },
    "Assign val": {
      "Type": "Pass",
      "ResultPath": "$.vars.val",
      "Result": {
        "a": "",
        "b": "",
        "c": "",
        "d": "",
        "e": "",
        "f": "",
        "g": ""
      },
      "Comment": "source: val = { a: \"\", b: \"\", c: \"\", d: \"\", e: \"\", f:  ...",
      "Next": "Assign val.a"
    },
    "Assign val.a": {
      "Type": "Pass",
      "ResultPath": "$.vars.val.a",
      "Result": "before choice",
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Or": [
              {
                "Variable": "$.vars.condition",
                "IsPresent": false
              },
              {
                "Variable": "$.vars.condition",
                "IsNull": true
              },
              {
                "Variable": "$.vars.condition",
                "BooleanEquals": false
              },
              {
                "Variable": "$.vars.condition",
                "StringEquals": ""
              },
              {
                "Variable": "$.vars.condition",
                "StringEquals": "false"
              },
              {
                "Variable": "$.vars.condition",
                "StringEquals": "0"
              },
              {
                "Variable": "$.vars.condition",
                "NumericEquals": 0
              }
            ]
          },
          "Next": "Then"
        },
        {
          "Or": [
            {
              "Variable": "$.vars.condition",
              "IsPresent": false
            },
            {
              "Variable": "$.vars.condition",
              "IsNull": true
            },
            {
              "Variable": "$.vars.condition",
              "BooleanEquals": false
            },
            {
              "Variable": "$.vars.condition",
              "StringEquals": ""
            },
            {
              "Variable": "$.vars.condition",
              "StringEquals": "false"
            },
            {
              "Variable": "$.vars.condition",
              "StringEquals": "0"
            },
            {
              "Variable": "$.vars.condition",
              "NumericEquals": 0
            }
          ],
          "Next": "Then_1"
        }
      ],
      "Default": "Assign val.f"
    },
    "Then": {
      "Type": "Parallel",
      "Parameters": {
        "vars": {
          "val.$": "$.vars.val"
        }
      },
      "Branches": [
        {
          "StartAt": "Assign val.b",
          "States": {
            "Assign val.b": {
              "Type": "Pass",
              "ResultPath": "$.vars.val.b",
              "Result": "val is not an empty string",
              "Next": "Assign val.c"
            },
            "Assign val.c": {
              "Type": "Pass",
              "ResultPath": "$.vars.val.c",
              "Result": "val is also not false or 0",
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.lastResult",
      "Next": "Assign val.g"
    },
    "Then_1": {
      "Type": "Parallel",
      "Parameters": {
        "vars": {
          "val.$": "$.vars.val"
        }
      },
      "Branches": [
        {
          "StartAt": "Assign val.d",
          "States": {
            "Assign val.d": {
              "Type": "Pass",
              "ResultPath": "$.vars.val.d",
              "Result": "val is empty string",
              "Next": "Assign val.e"
            },
            "Assign val.e": {
              "Type": "Pass",
              "ResultPath": "$.vars.val.e",
              "Result": "or false or 0",
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.lastResult",
      "Next": "Assign val.g"
    },
    "Assign val.f": {
      "Type": "Pass",
      "ResultPath": "$.vars.val.f",
      "Result": "this should not happen",
      "Next": "Assign val.g"
    },
    "Assign val.g": {
      "Type": "Pass",
      "ResultPath": "$.vars.val.g",
      "Result": "after choice",
      "Next": "Pass"
    },
    "Pass": {
      "End": true,
      "Type": "Pass",
      "InputPath": "$.vars.val"
    }
  }
}