convert/src/__test__/output/asl/conditional-expression-nestedConditional.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input",
        "_undefined": null
      },
      "Next": "Eval Conditional"
    },
    "Eval Conditional": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Or": [
              {
                "Variable": "$.vars",
                "IsPresent": false
              },
              {
                "Variable": "$.vars",
                "IsNull": true
              }
            ]
          },
          "Next": "Conditional True"
        }
      ],
      "Default": "Conditional False"
    },
    "Conditional True": {
      "Type": "Pass",
      "ResultPath": "$.tmp.var",
      "InputPath": "$.vars.name",
      "Next": "Eval Conditional_1"
    },
    "Conditional False": {
      "Type": "Pass",
      "ResultPath": "$.tmp.var",
      "InputPath": "$._undefined",
      "Next": "Eval Conditional_1"
    },
    "Eval Conditional_1": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Or": [
              {
                "Variable": "$.vars",
                "IsPresent": false
              },
              {
                "Variable": "$.vars",
                "IsNull": true
              }
            ]
          },
          "Next": "Conditional True_1"
        }
      ],
      "Default": "Conditional False_1"
    },
    "Conditional True_1": {
      "Type": "Pass",
      "ResultPath": "$.tmp.var",
      "InputPath": "$.vars.name",
      "Next": "Eval Conditional_2"
    },
    "Conditional False_1": {
      "Type": "Pass",
      "ResultPath": "$.tmp.var",
      "InputPath": "$._undefined",
      "Next": "Eval Conditional_2"
    },
    "Eval Conditional_2": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Or": [
              {
                "Variable": "$.tmp.var",
                "IsPresent": false
              },
              {
                "Variable": "$.tmp.var",
                "IsNull": true
              },
              {
                "Variable": "$.tmp.var",
                "BooleanEquals": false
              },
              {
                "Variable": "$.tmp.var",
                "StringEquals": ""
              },
              {
                "Variable": "$.tmp.var",
                "StringEquals": "false"
              },
              {
                "Variable": "$.tmp.var",
                "StringEquals": "0"
              },
              {
                "Variable": "$.tmp.var",
                "NumericEquals": 0
              }
            ]
          },
          "Next": "Conditional True_2"
        }
      ],
      "Default": "Conditional False_2"
    },
    "Conditional True_2": {
      "Type": "Pass",
      "ResultPath": "$.tmp.var",
      "InputPath": "$.tmp.var",
      "Next": "Eval Conditional_3"
    },
    "Conditional False_2": {
      "Type": "Pass",
      "ResultPath": "$.tmp.var",
      "Result": "world",
      "Next": "Eval Conditional_3"
    },
    "Eval Conditional_3": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Or": [
              {
                "Variable": "$._undefined",
                "IsPresent": false
              },
              {
                "Variable": "$._undefined",
                "IsNull": true
              }
            ]
          },
          "Next": "Conditional True_3"
        }
      ],
      "Default": "Conditional False_3"
    },
    "Conditional True_3": {
      "Type": "Pass",
      "ResultPath": "$.tmp.var",
      "Result": "doesn't happen",
      "Next": "Return null ? \"doesn't ha ..."
    },
    "Conditional False_3": {
      "Type": "Pass",
      "ResultPath": "$.tmp.var",
      "InputPath": "$.tmp.var",
      "Next": "Return null ? \"doesn't ha ..."
    },
    "Return null ? \"doesn't ha ...": {
      "Type": "Pass",
      "InputPath": "$.tmp.var",
      "End": true
    }
  }
}