convert/src/__test__/output/asl/enums-compareStringEnum.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input",
        "_undefined": null
      },
      "Next": "Assign x"
    },
    "Assign x": {
      "Type": "Pass",
      "ResultPath": "$.vars.x",
      "Result": "a",
      "Next": "If (x === ExampleEnumStri ..."
    },
    "If (x === ExampleEnumStri ...": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.vars.x",
          "StringEquals": "a",
          "Next": "Return \"success\""
        }
      ],
      "Default": "Return \"fail\""
    },
    "Return \"success\"": {
      "End": true,
      "Type": "Pass",
      "Result": "success"
    },
    "Return \"fail\"": {
      "End": true,
      "Type": "Pass",
      "Result": "fail"
    }
  }
}