convert/src/__test__/output/asl/for-each-emptyForeach.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input",
        "_undefined": null
      },
      "Next": "Assign numbers"
    },
    "Assign numbers": {
      "Type": "Pass",
      "ResultPath": "$.vars.numbers",
      "Result": [
        0,
        1,
        2,
        3
      ],
      "Comment": "source: numbers = [0, 1, 2, 3]",
      "Next": "Return \"ok\""
    },
    "Return \"ok\"": {
      "End": true,
      "Type": "Pass",
      "Result": "ok"
    }
  }
}