convert/src/__test__/output/asl/for-of-foreachEarlyReturn.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "Assign arr"
    },
    "Assign arr": {
      "Type": "Pass",
      "ResultPath": "$.vars.arr",
      "Result": [
        1,
        2,
        3
      ],
      "Comment": "source: arr = [1, 2, 3]",
      "Next": "Foreach Initialize"
    },
    "Foreach Initialize": {
      "Type": "Pass",
      "ResultPath": "$.foreach",
      "Parameters": {
        "items.$": "$.vars.arr",
        "currentItem.$": "$.vars.arr[0]"
      },
      "Next": "Foreach CheckDone"
    },
    "Foreach CheckDone": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.foreach.items[0]",
          "IsPresent": true,
          "Next": "If (item === 1)"
        }
      ],
      "Default": "Foreach Exit"
    },
    "If (item === 1)": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.foreach.currentItem",
          "NumericEquals": 1,
          "Next": "Return \"done\""
        }
      ],
      "Comment": "source: if (item === 1) { return \"done\"; }",
      "Default": "Foreach Next"
    },
    "Return \"done\"": {
      "End": true,
      "Type": "Pass",
      "Result": "done"
    },
    "Foreach Exit": {
      "Type": "Pass",
      "ResultPath": "$.foreach",
      "Result": {},
      "Next": "Throw Error"
    },
    "Foreach Next": {
      "Type": "Pass",
      "ResultPath": "$.foreach",
      "Parameters": {
        "items.$": "$.foreach.items[1:]",
        "currentItem.$": "$.foreach.items[1]"
      },
      "Next": "Foreach CheckDone"
    },
    "Throw Error": {
      "Type": "Fail",
      "Error": "Error",
      "Cause": "should not get here",
      "Comment": "source: throw new Error(\"should not get here\");"
    }
  },
  "Comment": "ASL Generated using ts2asl version 0.1.29."
}