convert/src/__test__/output/asl/kyc-main.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "Assign result"
    },
    "Assign result": {
      "Branches": [
        {
          "StartAt": "performIdentifyCheck()",
          "States": {
            "performIdentifyCheck()": {
              "Type": "Task",
              "ResultPath": "$.vars.return_var",
              "Resource": "[!lambda[performIdentifyCheck]arn]",
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "Comment": "source: performIdentifyCheck()",
              "Next": "Pass"
            },
            "Pass": {
              "End": true,
              "Type": "Pass",
              "InputPath": "$.vars.return_var"
            }
          }
        },
        {
          "StartAt": "Pass_1",
          "States": {
            "Pass_1": {
              "End": true,
              "Type": "Pass",
              "Result": {
                "agencyChecked": true
              }
            }
          }
        }
      ],
      "ResultPath": "$.vars.result",
      "Type": "Parallel",
      "Next": "PutEvents"
    },
    "PutEvents": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:eventbridge:putEvents",
      "Parameters": {
        "Entries": [
          {
            "Detail.$": "States.JsonToString($.vars.result)",
            "DetailType": "Identity check completed",
            "EventBusName": "eventbusname",
            "Source": "com.aws.kyc"
          }
        ]
      },
      "Next": "Assign checksPassed"
    },
    "Assign checksPassed": {
      "Type": "Pass",
      "ResultPath": "$.vars.checksPassed",
      "Result": true,
      "Comment": "source: checksPassed = true",
      "Next": "If (checksPassed)"
    },
    "If (checksPassed)": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Or": [
              {
                "Variable": "$.vars.checksPassed",
                "IsPresent": false
              },
              {
                "Variable": "$.vars.checksPassed",
                "IsNull": true
              },
              {
                "Variable": "$.vars.checksPassed",
                "BooleanEquals": false
              },
              {
                "Variable": "$.vars.checksPassed",
                "StringEquals": ""
              },
              {
                "Variable": "$.vars.checksPassed",
                "StringEquals": "false"
              },
              {
                "Variable": "$.vars.checksPassed",
                "StringEquals": "0"
              },
              {
                "Variable": "$.vars.checksPassed",
                "NumericEquals": 0
              }
            ]
          },
          "Next": "PutEvents_1"
        }
      ],
      "Comment": "source: if (checksPassed) { //no-op update risk profil ...",
      "Default": "PutEvents_2"
    },
    "PutEvents_1": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:eventbridge:putEvents",
      "Parameters": {
        "Entries": [
          {
            "Detail.$": "States.JsonToString($.vars.result)",
            "DetailType": "AccountApproved",
            "EventBusName": "eventbusname",
            "Source": "com.aws.kyc"
          }
        ]
      },
      "End": true
    },
    "PutEvents_2": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:eventbridge:putEvents",
      "Parameters": {
        "Entries": [
          {
            "Detail.$": "States.JsonToString($.vars.result)",
            "DetailType": "AccountDeclined",
            "EventBusName": "eventbusname",
            "Source": "com.aws.kyc"
          }
        ]
      },
      "End": true
    }
  }
}