convert/src/__test__/output/asl/string-templates-stringTemplates.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "Assign variable"
    },
    "Assign variable": {
      "Type": "Pass",
      "ResultPath": "$.vars.variable",
      "Result": "some var",
      "Comment": "source: variable = \"some var\"",
      "Next": "Return { b: `hello ${ ..."
    },
    "Return { b: `hello ${ ...": {
      "End": true,
      "Type": "Pass",
      "Parameters": {
        "b.$": "States.Format('hello {}', $.vars.variable)"
      }
    }
  },
  "Comment": "ASL Generated using ts2asl version 0.1.29."
}