convert/src/__test__/output/asl/switch-simpleSwitch.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "Assign arr"
    },
    "Assign arr": {
      "Type": "Pass",
      "ResultPath": "$.vars.arr",
      "Result": [
        1,
        2,
        3
      ],
      "Comment": "source: arr = [1, 2, 3]",
      "Next": "Assign result"
    },
    "Assign result": {
      "Type": "Pass",
      "ResultPath": "$.vars.result",
      "Result": "",
      "Comment": "source: result = \"\"",
      "Next": "Foreach Initialize"
    },
    "Foreach Initialize": {
      "Type": "Pass",
      "ResultPath": "$.foreach",
      "Parameters": {
        "items.$": "$.vars.arr",
        "currentItem.$": "$.vars.arr[0]"
      },
      "Next": "Foreach CheckDone"
    },
    "Foreach CheckDone": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.foreach.items[0]",
          "IsPresent": true,
          "Next": "Switch (item)"
        }
      ],
      "Default": "Foreach Exit"
    },
    "Switch (item)": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.foreach.currentItem",
          "NumericEquals": 1,
          "Next": "Evaluate States.Format('{ ..."
        },
        {
          "Variable": "$.foreach.currentItem",
          "NumericEquals": 2,
          "Next": "Evaluate States.Format('{ ..._1"
        }
      ],
      "Comment": "source: switch (item) { case 1: result = `${result}one ...",
      "Default": "Evaluate States.Format('{ ..._2"
    },
    "Evaluate States.Format('{ ...": {
      "Type": "Pass",
      "ResultPath": "$.tmp.eval",
      "Parameters": {
        "value.$": "States.Format('{}one', $.vars.result)"
      },
      "Comment": "source: result of an expression cannot be placed in In ...",
      "Next": "Assign result_1"
    },
    "Assign result_1": {
      "Type": "Pass",
      "ResultPath": "$.vars.result",
      "InputPath": "$.tmp.eval.value",
      "Next": "Foreach Next"
    },
    "Evaluate States.Format('{ ..._1": {
      "Type": "Pass",
      "ResultPath": "$.tmp.eval",
      "Parameters": {
        "value.$": "States.Format('{}two', $.vars.result)"
      },
      "Comment": "source: result of an expression cannot be placed in In ...",
      "Next": "Assign result_2"
    },
    "Assign result_2": {
      "Type": "Pass",
      "ResultPath": "$.vars.result",
      "InputPath": "$.tmp.eval.value",
      "Next": "Foreach Next"
    },
    "Evaluate States.Format('{ ..._2": {
      "Type": "Pass",
      "ResultPath": "$.tmp.eval",
      "Parameters": {
        "value.$": "States.Format('{}three', $.vars.result)"
      },
      "Comment": "source: result of an expression cannot be placed in In ...",
      "Next": "Assign result_3"
    },
    "Assign result_3": {
      "Type": "Pass",
      "ResultPath": "$.vars.result",
      "InputPath": "$.tmp.eval.value",
      "Next": "Foreach Next"
    },
    "Foreach Exit": {
      "Type": "Pass",
      "ResultPath": "$.foreach",
      "Result": {},
      "Next": "Return result"
    },
    "Foreach Next": {
      "Type": "Pass",
      "ResultPath": "$.foreach",
      "Parameters": {
        "items.$": "$.foreach.items[1:]",
        "currentItem.$": "$.foreach.items[1]"
      },
      "Next": "Foreach CheckDone"
    },
    "Return result": {
      "End": true,
      "Type": "Pass",
      "InputPath": "$.vars.result"
    }
  },
  "Comment": "ASL Generated using ts2asl version 0.1.29."
}