convert/src/__test__/output/asl/switch-main.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "CreateAccount"
    },
    "CreateAccount": {
      "Type": "Task",
      "ResultPath": "$.vars.createAccount",
      "Resource": "arn:aws:states:::aws-sdk:organizations:createAccount",
      "Parameters": {
        "AccountName": "test",
        "Email": "something@email.com"
      },
      "Next": "Assign result"
    },
    "Assign result": {
      "Branches": [
        {
          "StartAt": "DescribeCreateAccountStatus",
          "States": {
            "DescribeCreateAccountStatus": {
              "Type": "Task",
              "ResultPath": "$.vars.describeResult",
              "Resource": "arn:aws:states:::aws-sdk:organizations:describeCreateAccountStatus",
              "Parameters": {
                "CreateAccountRequestId.$": "$.vars.createAccount.CreateAccountStatus.Id"
              },
              "Next": "Switch (describeResult.Cr ..."
            },
            "Switch (describeResult.Cr ...": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.vars.describeResult.CreateAccountStatus",
                  "StringEquals": "SUCCEEDED",
                  "Next": "Return describeResult"
                },
                {
                  "Variable": "$.vars.describeResult.CreateAccountStatus",
                  "StringEquals": "IN_PROGRESS",
                  "Next": "Throw AccountCreationInPr ..."
                }
              ],
              "Comment": "source: switch (describeResult.CreateAccountStatus) {  ...",
              "Default": "Throw AccountCreationFailed"
            },
            "Return describeResult": {
              "End": true,
              "Type": "Pass",
              "InputPath": "$.vars.describeResult"
            },
            "Throw AccountCreationInPr ...": {
              "Type": "Fail",
              "Error": "AccountCreationInProgress",
              "Cause": "account creation is still in progress",
              "Comment": "source: throw new AccountCreationInProgress(\"account c ..."
            },
            "Throw AccountCreationFailed": {
              "Type": "Fail",
              "Error": "AccountCreationFailed",
              "Cause": "account creation is still in progress",
              "Comment": "source: throw new AccountCreationFailed(\"account creat ..."
            }
          }
        }
      ],
      "ResultPath": "$.vars.result",
      "Type": "Parallel",
      "Retry": [
        {
          "ErrorEquals": [
            "AccountCreationInProgress"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 10,
          "BackoffRate": 1
        }
      ],
      "Parameters": {
        "vars": {
          "createAccount.$": "$.vars.createAccount"
        }
      },
      "Next": "Log (result)"
    },
    "Log (result)": {
      "Type": "Pass",
      "ResultPath": "$.tmp.lastResult",
      "InputPath": "$.vars.result",
      "Comment": "source: console.log(result)",
      "Next": "Return result"
    },
    "Return result": {
      "End": true,
      "Type": "Pass",
      "InputPath": "$.vars.result"
    }
  }
}