convert/src/__test__/output/asl/throw-CatchErrors.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "Parallel"
    },
    "Parallel": {
      "Branches": [
        {
          "StartAt": "Throw UnexpectedError",
          "States": {
            "Throw UnexpectedError": {
              "Type": "Fail",
              "Error": "UnexpectedError",
              "Cause": "bad luck!",
              "Comment": "source: throw new UnexpectedError(\"bad luck!\")"
            }
          }
        }
      ],
      "ResultPath": "$.tmp.lastResult",
      "Type": "Parallel",
      "Catch": [
        {
          "Next": "Parallel_1",
          "ErrorEquals": [
            "UnexpectedError"
          ],
          "ResultPath": "$.vars.error"
        }
      ],
      "Retry": [
        {
          "ErrorEquals": [
            "RetryableError"
          ],
          "IntervalSeconds": 3,
          "MaxAttempts": 2,
          "BackoffRate": 1.5
        }
      ],
      "End": true
    },
    "Parallel_1": {
      "Type": "Parallel",
      "ResultPath": "$.tmp.lastResult",
      "Parameters": {
        "vars.$": "$.vars"
      },
      "OutputPath": "$[0]",
      "Branches": [
        {
          "StartAt": "Log (`cause ${error.Cause}`)",
          "States": {
            "Log (`cause ${error.Cause}`)": {
              "Type": "Pass",
              "ResultPath": "$.lastResult",
              "Parameters": {
                "value.$": "States.Format('cause {}', $.vars.error.Cause)"
              },
              "Comment": "source: result of an expression cannot be placed in In ...",
              "Next": "Log (`cause ${error.Cause}`)_1"
            },
            "Log (`cause ${error.Cause}`)_1": {
              "Type": "Pass",
              "ResultPath": "$.lastResult",
              "InputPath": "$.lastResult.value",
              "Comment": "source: console.log(`cause ${error.Cause}`)",
              "Next": "Log (`message ${error.Err ..."
            },
            "Log (`message ${error.Err ...": {
              "Type": "Pass",
              "ResultPath": "$.lastResult",
              "Parameters": {
                "value.$": "States.Format('message {}', $.vars.error.Error)"
              },
              "Comment": "source: result of an expression cannot be placed in In ...",
              "Next": "Log (`message ${error.Err ..._1"
            },
            "Log (`message ${error.Err ..._1": {
              "Type": "Pass",
              "ResultPath": "$.lastResult",
              "InputPath": "$.lastResult.value",
              "Comment": "source: console.log(`message ${error.Error}`)",
              "End": true
            }
          }
        }
      ],
      "End": true
    }
  }
}