convert/src/__test__/output/asl/throw-CatchErrors.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "Parallel"
    },
    "Parallel": {
      "Branches": [
        {
          "StartAt": "Throw UnexpectedError",
          "States": {
            "Throw UnexpectedError": {
              "Type": "Fail",
              "Error": "UnexpectedError",
              "Cause": "bad luck!",
              "Comment": "source: throw new UnexpectedError(\"bad luck!\")"
            }
          }
        }
      ],
      "ResultPath": "$.tmp.lastResult",
      "Type": "Parallel",
      "Catch": [
        {
          "Next": "Parallel_1",
          "ErrorEquals": [
            "UnexpectedError"
          ],
          "ResultPath": "$.vars.error"
        }
      ],
      "Retry": [
        {
          "ErrorEquals": [
            "RetryableError"
          ],
          "IntervalSeconds": 3,
          "MaxAttempts": 2,
          "BackoffRate": 1.5
        }
      ],
      "End": true
    },
    "Parallel_1": {
      "Type": "Parallel",
      "ResultPath": "$.vars",
      "Parameters": {
        "vars.$": "$.vars"
      },
      "Branches": [
        {
          "StartAt": "Evaluate States.Format('c ...",
          "States": {
            "Evaluate States.Format('c ...": {
              "Type": "Pass",
              "ResultPath": "$.tmp.lastResult",
              "Parameters": {
                "value.$": "States.Format('cause {}', $.vars.error.Cause)"
              },
              "Comment": "source: result of an expression cannot be placed in In ...",
              "Next": "Log (`cause ${error.Cause}`)"
            },
            "Log (`cause ${error.Cause}`)": {
              "Type": "Pass",
              "ResultPath": "$.tmp.lastResult",
              "InputPath": "$.tmp.lastResult.value",
              "Comment": "source: console.log(`cause ${error.Cause}`)",
              "Next": "Evaluate States.Format('m ..."
            },
            "Evaluate States.Format('m ...": {
              "Type": "Pass",
              "ResultPath": "$.tmp.lastResult",
              "Parameters": {
                "value.$": "States.Format('message {}', $.vars.error.Error)"
              },
              "Comment": "source: result of an expression cannot be placed in In ...",
              "Next": "Log (`message ${error.Err ..."
            },
            "Log (`message ${error.Err ...": {
              "Type": "Pass",
              "ResultPath": "$.tmp.lastResult",
              "InputPath": "$.tmp.lastResult.value",
              "Comment": "source: console.log(`message ${error.Error}`)",
              "End": true
            }
          }
        }
      ],
      "Next": "Assign vars"
    },
    "Assign vars": {
      "Type": "Pass",
      "ResultPath": "$.vars",
      "InputPath": "$.vars[0]",
      "End": true
    }
  }
}