convert/src/__test__/output/asl/throw-tryCatch.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input",
        "_undefined": null
      },
      "Next": "Assign vars"
    },
    "Assign vars": {
      "Type": "Pass",
      "ResultPath": "$.vars",
      "InputPath": "$.vars[0]",
      "Next": "Parallel"
    },
    "Parallel": {
      "Type": "Parallel",
      "ResultPath": "$.vars",
      "Parameters": {
        "vars.$": "$.vars"
      },
      "Branches": [
        {
          "StartAt": "Throw NotImplemented",
          "States": {
            "Throw NotImplemented": {
              "Type": "Fail",
              "Error": "NotImplemented",
              "Cause": "not implemented",
              "Comment": "source: throw new NotImplemented(\"not implemented\")"
            }
          }
        }
      ],
      "Catch": [
        {
          "Next": "Parallel_1",
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.vars.err"
        }
      ],
      "End": true
    },
    "Parallel_1": {
      "Type": "Parallel",
      "ResultPath": "$.vars",
      "Parameters": {
        "vars.$": "$.vars"
      },
      "Branches": [
        {
          "StartAt": "If (err.Cause === \"NotImp ...",
          "States": {
            "If (err.Cause === \"NotImp ...": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.vars.err.Cause",
                  "StringEquals": "NotImplemented",
                  "Next": "Return \"Todo\""
                }
              ],
              "Comment": "source: if (err.Cause === \"NotImplemented\") { return \" ...",
              "Default": "Empty Default Choice"
            },
            "Return \"Todo\"": {
              "End": true,
              "Type": "Pass",
              "Result": "Todo"
            },
            "Empty Default Choice": {
              "Type": "Pass",
              "ResultPath": null,
              "End": true
            }
          }
        }
      ],
      "Next": "Return From Scope"
    },
    "Return From Scope": {
      "Type": "Pass",
      "InputPath": "$.vars[0]",
      "End": true
    }
  }
}