convert/src/__test__/output/asl/try-catch-referenceError.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input",
        "_undefined": null
      },
      "Next": "Assign result"
    },
    "Assign result": {
      "Type": "Pass",
      "ResultPath": "$.vars.result",
      "Result": "",
      "Comment": "source: result = \"\"",
      "Next": "Assign result_1"
    },
    "Assign result_1": {
      "Type": "Pass",
      "ResultPath": "$.vars.result",
      "Result": "succeeded",
      "Next": "Fail State Wrapper"
    },
    "Fail State Wrapper": {
      "Type": "Parallel",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.vars.err",
          "Next": "Evaluate Format('failed { ..."
        }
      ],
      "End": true,
      "Branches": [
        {
          "StartAt": "Throw Test Error",
          "States": {
            "Throw Test Error": {
              "Type": "Fail",
              "Error": "Test Error",
              "Cause": "Failed on purpose",
              "Comment": "source: throw asl.runtime.createError(\"Test Error\", \"F ..."
            }
          }
        }
      ]
    },
    "Evaluate Format('failed { ...": {
      "Type": "Pass",
      "ResultPath": "$.tmp.eval",
      "Parameters": {
        "value.$": "States.Format('failed {} ({})', $.vars.err.Error, $.vars.err.Cause)"
      },
      "Comment": "source: result of an expression cannot be placed in In ...",
      "Next": "Assign result_2"
    },
    "Assign result_2": {
      "Type": "Pass",
      "ResultPath": "$.vars.result",
      "InputPath": "$.tmp.eval.value",
      "Next": "Return result"
    },
    "Return result": {
      "End": true,
      "Type": "Pass",
      "InputPath": "$.vars.result"
    }
  }
}