convert/src/__test__/output/asl/try-catch-tryFinally.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input",
        "_undefined": null
      },
      "Next": "Parallel"
    },
    "Parallel": {
      "Branches": [
        {
          "StartAt": "Return \"succeeded\"",
          "States": {
            "Return \"succeeded\"": {
              "End": true,
              "Type": "Pass",
              "Result": "succeeded"
            }
          }
        }
      ],
      "ResultPath": null,
      "Type": "Parallel",
      "Comment": "source: Promise.all([() => \"succeeded\"])",
      "Next": "Return \"finally\""
    },
    "Return \"finally\"": {
      "End": true,
      "Type": "Pass",
      "Result": "finally"
    }
  }
}