convert/src/__test__/output/asl/try-catch-tryCatchFinally.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "lambda()"
    },
    "lambda()": {
      "Type": "Task",
      "ResultPath": null,
      "Resource": "[!lambda[lambda]arn]",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Comment": "source: source: lambda()",
      "Catch": [
        {
          "Next": "Log (\"failed\")",
          "ErrorEquals": [
            "States.ALL"
          ]
        }
      ],
      "Next": "Return \"finally\""
    },
    "Log (\"failed\")": {
      "Type": "Pass",
      "ResultPath": null,
      "Result": "failed",
      "Comment": "source: console.log(\"failed\")",
      "Next": "Return \"finally\""
    },
    "Return \"finally\"": {
      "End": true,
      "Type": "Pass",
      "Result": "finally"
    }
  },
  "Comment": "ASL Generated using ts2asl version 0.1.30."
}