convert/src/__test__/output/asl/try-catch-simpleMultipleStatements.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input",
        "_undefined": null
      },
      "Next": "Assign arr"
    },
    "Assign arr": {
      "Type": "Pass",
      "ResultPath": "$.vars.arr",
      "Result": [
        1
      ],
      "Comment": "source: arr = [1]",
      "Next": "Assign withinTry"
    },
    "Assign withinTry": {
      "Type": "Map",
      "ResultPath": "$.vars.withinTry",
      "Iterator": {
        "StartAt": "Return \"succeeded\"",
        "States": {
          "Return \"succeeded\"": {
            "End": true,
            "Type": "Pass",
            "Result": "succeeded"
          }
        }
      },
      "ItemsPath": "$.vars.arr",
      "Comment": "source: arr.map(x => \"succeeded\")",
      "Parameters": {
        "vars": {
          "x.$": "$$.Map.Item.Value"
        }
      },
      "Next": "Return withinTry[0]",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Return \"it failed\""
        }
      ]
    },
    "Return withinTry[0]": {
      "End": true,
      "Type": "Pass",
      "InputPath": "$.vars.withinTry[0]"
    },
    "Return \"it failed\"": {
      "End": true,
      "Type": "Pass",
      "Result": "it failed"
    }
  }
}