convert/src/__test__/output/asl/try-catch-simpleTry.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "lambda()"
    },
    "lambda()": {
      "Type": "Task",
      "ResultPath": "$.tmp.lastResult",
      "Resource": "[!lambda[lambda]arn]",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Comment": "source: source: lambda()",
      "Catch": [
        {
          "Next": "Pass",
          "ErrorEquals": [
            "States.ALL"
          ]
        }
      ],
      "End": true
    },
    "Pass": {
      "Type": "Pass",
      "Result": "it failed",
      "End": true
    }
  }
}