convert/src/__test__/output/asl/ts-lib-convert-convertStringToNumber.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "Evaluate StringToJson('42')"
    },
    "Evaluate StringToJson('42')": {
      "Type": "Pass",
      "ResultPath": "$.tmp.eval",
      "Parameters": {
        "value.$": "States.StringToJson('42')"
      },
      "Comment": "source: result of an expression cannot be placed in In ...",
      "Next": "Assign num"
    },
    "Assign num": {
      "Type": "Pass",
      "ResultPath": "$.vars.num",
      "InputPath": "$.tmp.eval.value",
      "Next": "If (num === 42)"
    },
    "If (num === 42)": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.vars.num",
          "NumericEquals": 42,
          "Next": "Evaluate Format('{}', $.v ..."
        }
      ],
      "Default": "Throw Error"
    },
    "Evaluate Format('{}', $.v ...": {
      "Type": "Pass",
      "ResultPath": "$.tmp.eval",
      "Parameters": {
        "value.$": "States.Format('{}', $.vars.num)"
      },
      "Comment": "source: result of an expression cannot be placed in In ...",
      "Next": "Assign str"
    },
    "Assign str": {
      "Type": "Pass",
      "ResultPath": "$.vars.str",
      "InputPath": "$.tmp.eval.value",
      "Next": "If (str === \"42\")"
    },
    "If (str === \"42\")": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.vars.str",
          "StringEquals": "42",
          "Next": "Return \"succeeded\""
        }
      ],
      "Comment": "source: if (str === \"42\") { return \"succeeded\"; }",
      "Default": "Throw Error"
    },
    "Return \"succeeded\"": {
      "End": true,
      "Type": "Pass",
      "Result": "succeeded"
    },
    "Throw Error": {
      "Type": "Fail",
      "Error": "Error",
      "Cause": "failed",
      "Comment": "source: throw new Error(\"failed\");"
    }
  }
}