convert/src/__test__/output/asl/variable-assignments-unassignedVariable.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input",
        "_undefined": null
      },
      "Next": "Assign arr"
    },
    "Assign arr": {
      "Type": "Pass",
      "InputPath": "$._undefined",
      "ResultPath": "$.vars.arr",
      "Comment": "source: arr: []",
      "Next": "Assign two"
    },
    "Assign two": {
      "Type": "Pass",
      "InputPath": "$._undefined",
      "ResultPath": "$.vars.two",
      "Comment": "source: two: string",
      "Next": "Return two"
    },
    "Return two": {
      "Type": "Pass",
      "InputPath": "$.vars.two",
      "End": true
    }
  }
}