convert/src/__test__/output/asl/while-main.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "Task"
    },
    "Task": {
      "Type": "Task",
      "ResultPath": "$.vars.result",
      "Resource": "check-password",
      "Parameters": {},
      "Next": "_WhileCondition"
    },
    "_WhileCondition": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$",
          "IsNull": false,
          "Next": "If (result.Authorized)"
        }
      ],
      "Default": "_WhileExit"
    },
    "If (result.Authorized)": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Or": [
              {
                "Variable": "$.vars.result.Authorized",
                "IsPresent": false
              },
              {
                "Variable": "$.vars.result.Authorized",
                "IsNull": true
              },
              {
                "Variable": "$.vars.result.Authorized",
                "BooleanEquals": false
              },
              {
                "Variable": "$.vars.result.Authorized",
                "StringEquals": ""
              },
              {
                "Variable": "$.vars.result.Authorized",
                "StringEquals": "false"
              },
              {
                "Variable": "$.vars.result.Authorized",
                "StringEquals": "0"
              },
              {
                "Variable": "$.vars.result.Authorized",
                "NumericEquals": 0
              }
            ]
          },
          "Next": "Break"
        }
      ],
      "Comment": "source: if (result.Authorized) { break; }",
      "Default": "Wait"
    },
    "Break": {
      "ResultPath": null,
      "Type": "Pass",
      "Next": "_WhileExit"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 1,
      "Next": "Task_1"
    },
    "Task_1": {
      "Type": "Task",
      "ResultPath": "$.vars.result",
      "Resource": "check-password",
      "Parameters": {},
      "Next": "_WhileCondition"
    },
    "_WhileExit": {
      "Type": "Pass",
      "ResultPath": null,
      "End": true
    }
  },
  "Comment": "ASL Generated using ts2asl version 0.1.28."
}