convert/src/__test__/output/asl/while-retuningFromWhile.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input"
      },
      "Next": "Task"
    },
    "Task": {
      "Type": "Task",
      "ResultPath": "$.vars.result",
      "Resource": "check-password",
      "Parameters": {},
      "Next": "While Condition"
    },
    "While Condition": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$",
          "IsNull": false,
          "Next": "If (result.Authorized)"
        }
      ],
      "Default": "While Exit"
    },
    "If (result.Authorized)": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.vars.result.Authorized",
            "BooleanEquals": false
          },
          "Next": "Return \"ok\""
        }
      ],
      "Comment": "source: if (result.Authorized) { return \"ok\"; }",
      "Default": "Wait"
    },
    "Return \"ok\"": {
      "End": true,
      "Type": "Pass",
      "Result": "ok"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 1,
      "Next": "Task_1"
    },
    "Task_1": {
      "Type": "Task",
      "ResultPath": "$.vars.result",
      "Resource": "check-password",
      "Parameters": {},
      "Next": "While Condition"
    },
    "While Exit": {
      "Type": "Pass",
      "ResultPath": null,
      "End": true
    }
  },
  "Comment": "ASL Generated using ts2asl version 0.1.29."
}