packages/convert/src/__test__/output/asl/optional-property-chain-returnOptionalChain.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input",
        "_undefined": null
      },
      "Next": "Assign obj"
    },
    "Assign obj": {
      "Type": "Pass",
      "Result": {
        "name": "jim"
      },
      "ResultPath": "$.vars.obj",
      "Comment": "source: obj = { name: \"jim\" }",
      "Next": "Eval Conditional"
    },
    "Eval Conditional": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Or": [
              {
                "Variable": "$.vars.obj",
                "IsPresent": false
              },
              {
                "Variable": "$.vars.obj",
                "IsNull": true
              }
            ]
          },
          "Next": "Conditional True"
        }
      ],
      "Default": "Conditional False"
    },
    "Conditional True": {
      "Type": "Pass",
      "ResultPath": "$.tmp.var",
      "InputPath": "$.vars.obj.name",
      "Next": "Return obj?.name"
    },
    "Conditional False": {
      "Type": "Pass",
      "ResultPath": "$.tmp.var",
      "InputPath": "$._undefined",
      "Next": "Return obj?.name"
    },
    "Return obj?.name": {
      "Type": "Pass",
      "InputPath": "$.tmp.var",
      "End": true
    }
  }
}