packages/convert/src/__test__/output/asl/sdk-states-countDynamoDBItems.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input",
        "_undefined": null
      },
      "Next": "COUNT(where gsi1pk === 'test')"
    },
    "COUNT(where gsi1pk === 'test')": {
      "ResultPath": "$.vars.result",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
      "Parameters": {
        "TableName": "[!parameter[tableName]]",
        "IndexName": "GSI1",
        "KeyConditionExpression": "#pk = :val",
        "ExpressionAttributeNames": {
          "#pk": "gsi1pk"
        },
        "ExpressionAttributeValues": {
          ":val": {
            "S": "test"
          }
        },
        "Select": "COUNT"
      },
      "Type": "Task",
      "Next": "Return result.Count"
    },
    "Return result.Count": {
      "Type": "Pass",
      "InputPath": "$.vars.result.Count",
      "End": true
    }
  }
}