packages/convert/src/__test__/output/asl/variable-assignments-assignmentToNull.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "vars.$": "$$.Execution.Input",
        "_undefined": null
      },
      "Next": "Assign _null"
    },
    "Assign _null": {
      "Type": "Pass",
      "InputPath": "$._undefined",
      "ResultPath": "$.vars._null",
      "Comment": "source: _null = null",
      "Next": "Return \"ok\""
    },
    "Return \"ok\"": {
      "Type": "Pass",
      "Result": "ok",
      "End": true
    }
  }
}